/magenta/
/style_select/
/arbitrary_image_stylization_word/arbitrary_style_transfer/
/arbitrary_image_stylization_word/arbitrary_style_transfer.tar.gz
/arbitrary_image_stylization_word/outputs/*
/arbitrary_image_stylization_word/outputs_style/*
/arbitrary_image_stylization_word/checkpoints/*
